<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ストレス診断ページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>ストレス診断</h1>
        <form action="{{ url_for('diagnosis') }}" method="post">
            <p>{{ question['question'] }}</p>
            {% for answer in question['answer'] %}
                <label>
                <input type="radio" name="selected_answer" value="{{ answer }}"required> {{ answer }}
                </label><br>
            {% endfor %}
            <input type="hidden" name="question_id" value="{{ question['id'] }}">
            <button type="submit">次へ</button>
        </form>
    </div>
</body>
</html>